<!-- Main menu starts -->

<div class="sidebar">

<input class="searchBox" id="search" onkeyup="searchPolicies()" placeholder="Search policies">
<div id="results"></div>

<ul class="tree">

<li><b>- RAM P&P Guides & About</b>
<ul>
<li><a href="guide/RAM_PP_Short_Guide.html">Quick Guide</a></li>
<li><a href="guide/RAM_PP_Short_Guide.html">Detailed Guide</a></li>
<li><a href="guide/RAM_PP_Short_Guide.html">KW Portal Notes</a></li>
</ul>
</li>

<li><b>1 RAM Admin & Management</b>
<ul>
<li><a href="documents/governance.html">Governance</a></li>
<li><a href="documents/management.html">Management & Admin.</a></li>
<li><a href="documents/performance.html">Performance Management</a></li>
</ul>
</li>

<li><b>2 RAM Operations & Value Chain</b>
<ul>
<li><a href="documents/sales_marketing.html">Sales & Marketing</a></li>
<li><a href="documents/investment.html">Investment Lifecycle</a></li>
<li><a href="documents/leasing.html">Leasing</a></li>
<li><a href="documents/customer_service.html">Tenant & Customer Services</a></li>
<li><a href="documents/facility.html">Facility Management</a></li>
<li><a href="documents/capex.html">CapEx Projects</a></li>
</ul>
</li>

</ul>

</div>

<!-- Main menu end -->