<!-- ====================================== -->
<!-- RAM Knolowde Portal - Hassan El-Meligy -->
<!-- Main menu sources in the components folder -->
<!-- Another menu source is under document component 2026 -->
<!-- ====================================== -->
<!-- Main menu starts  -->
<!-- <div class="container"> -->

<div class="sidebar">
    <input class="searchBox" id="search" onkeyup="searchPolicies()" placeholder="Search policies">
    <div id="results"></div>

    <ul class="tree">
        <li><b>- 📚 P&P Guides & About - </b>
            <ul>
                <li><a href="documents/RAM_PP_Short_Guide.html">Quick Guide</a></li>
                <!-- <li><a href="guide/RAM_PP_Short_Guide.html">Detailed Guide</a></li> -->
                <!-- <li><a href="guide/RAM_PP_Short_Guide.html">KW Portal Notes</a></li> -->
            </ul>
        <li><b>1 📄 Admin & Management</b>
            <ul>
                <li><a href="documents/governance.html">Governance</a></li>
                <li><a href="documents/management.html">Management & Admin.</a></li>
                <li><a href="documents/performance.html">Performance Management</a></li>
            </ul>
        </li>

        <li><b>2 📄 Operations & Value Chain</b>
            <ul>
                <li><a href="documents/sales_marketing.html">Sales & Marketing</a></li>
                <li><a href="documents/investment.html">Investment Lifecycle</a></li>
                <li><a href="documents/leasing.html">Leasing</a></li>
                <li><a href="documents/customer_service.html">Tenant & Customer Services</a></li>
                <li><a href="documents/facility.html">Facility Management</a></li>
                <li><a href="documents/capex.html">CapEx Projects</a></li>
            </ul>
        </li>

        <li><b>3 📄 Shared Services</b>
            <ul>
                <li><a href="documents/finance.html">Finance & Accounting</a></li>
                <li><a href="documents/treasury.html">Treasury and Cash Management</a></li>
                <li><a href="documents/procurement.html">Procurement</a></li>
                <li><a href="documents/hr.html">Human Resources & SS</a></li>
                <li><a href="documents/it.html">IT & Data Governance</a></li>
            </ul>
        </li>

        <li><b>4 📄 Others</b>
            <ul>
                <li><a href="documents/legal.html">Legal & Contracts</a></li>
                <li><a href="documents/audit.html">Internal Audit</a></li>
                <li><a href="documents/ethics.html">Ethics & Compliance</a></li>
                <li><a href="documents/bcm.html">Business Continuity</a></li>

                <li><a href="documents/risk_compliance.html">Risk & Compliance</a></li>
                <li><a href="documents/ai_knowledge_hub.html">Knowlodege Hub</a></li>
            </ul>
        </li>

        <li><b>- 📚 Resources</b>
            <ul>
                <li><a href="forms/templates.html">Forms & Templates</a></li>
                <li><a href="templates/glossary.html">Glossary & Abb.</a></li>
                <li><a href="documents/master_data.html">Master Data.</a></li>
                <!-- <li><a href="index.html">Home</a></li> -->
            </ul>
        </li>
    </ul>
</div>
<!-- // Main menu end  -->